* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.main-text,
.footer {
    margin: 5px;
    padding: 2px;
}

.container {
    display: flex;
}

.container>div {
    flex: 1;
}

.image,
.home,
.about,
.resources {
    padding: 5px;
    font-size: 30px;
    line-height: 50px;
}

.image {
    background-color: #004D40;
}

.home {
    background-color: #00695C;
}

.about {
    background-color: #00796B;
}

.resources {
    background-color: #00897B;
}

.div1 {
    background-color: #009688;
}

.div2 {
    background-color: #26A69A;
}

.div3 {
    background-color: #4DB6AC;
}

.div4 {
    background-color: #80CBC4;
}

.div5 {
    background-color: #B2DFDB;
}

.search {
    margin: 0;
    padding: 0;
    background-color: #dbf1f0;
}

.container>.nav-right {
    flex: 3;
}

.nav-right {
    display: flex;
}

.btn-container {
    background-color: #ecf1f1;
}

.nav-right>div {
    flex: 1;
}

.btn {
    padding: 5px;
    font-size: 24px;
    line-height: 25px;
}