    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
    }
    
    html {
        background: url('rubics.jpg') no-repeat center fixed;
        background-size: cover;
    }
    
    body {
        font-family: "Poppins", sans-serif;
    }
    
    main {
        margin: 10px;
    }
    
    header>h1,
    main>p {
        margin-left: 10%;
        margin-top: 50px;
    }
    
    p {
        font-family: "Poppins", sans-serif;
        font-size: 25px;
    }
    
    h1 {
        font-size: 60px;
    }
    
    hr {
        width: 1200px;
        border-width: 5px solid #0c0c0c;
    }
    
    footer {
        position: relative;
        margin-left: 100px;
        margin-top: 460px;
    }
    
    footer>p {
        padding-left: 50px;
    }